.header-navbar {
  display: grid;
  align-items: center;
  justify-items: end;
  letter-spacing: 0.1em;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 -10px 0 0 ;
    
    @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: end;
    width: 100%;
    }

    @media (max-width: 767.8px) {
    display: none;
    position: absolute;
    top: 100%;
    right: $gap / 2 * 3;
    text-align: right;
    background-color: rgba($color-gray-dark, 0.9);
    }

    
  }

  &__item {

    @media (min-width: 768px) {
      margin-left: $gap;
    }

    @media (max-width: 767.8px) {
      margin: $gap 10px;
    }
    
  }

  &__link {
    display: block;
    font-size: 1.125rem;
    transition: color 0.5s;

    @media (min-width: 768px) {
      padding: $gap 10px;
    }

    @media (max-width: 767.8px) {
      padding: 10px $gap;
    }

    &:hover {
      color: $color-accent;
    }
  }

  &__btn {
    @media (min-width: 768px) {
    display: none;
}
  }
}


.header-navbar__btn {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: $gap 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-navbar__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $color-light;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}


.header-navbar__btn-row:nth-child(1) {
  top: 0px;
}

.header-navbar__btn-row:nth-child(2),.header-navbar__btn-row:nth-child(3) {
  top: 9px;
}

.header-navbar__btn  span:nth-child(4) {
  top: 18px;
}

.header-navbar__btn.active span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.header-navbar__btn.active span:nth-child(2) {
  transform: rotate(45deg);
}

.header-navbar__btn.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-navbar__btn.active span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}