.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  @media (max-width: 767.8px) {
    background-color: rgba($color-gray-dark, 0.25);
    box-shadow: -3px 3px 20px -10px black;
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;

    max-width: $ul;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;
  }
}

